/*CSS */

body{
    background-color: #ffeecc;
}

h1{
    border-style: double;
    box-shadow: 10px 10px 5px grey;
    color: #994d00;
    text-align: center;
    
}


#tabs{
    text-align: right;
}

p{
    text-align: center;
}

h2{
    text-shadow: 2px 2px 4px #808080;
    text-align: center;
    font-style: italic;
}


/* This Starts the smaller headers */

.Top{
    
    text-align: center;
}

#First{
    color: #333333;
}

.second{
    
    color: #595959;
}

.third{
    color: #666666;
}

#cars{
    
    color: #808080;
}
h4{
    
    text-align: center;
    
}

h5{
    
    text-align: center;
}


img{
    padding:1px;
   border:1px solid #021a40;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#footer{
    text-align: center;
}

table, th, td {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    border: 1px solid black;
}

ul{
    text-align: center;
    list-style-type: none;
}